<div id = 'all_answers' >
	<div class = 'answers' >
		<span class = "answered_by" >
	    <%= answer.user.name %> <%= 'answered:' %>
	  </span>
	  <span class = "destroy_comment" >
	    <% if can?(:destroy, answer) %>
	  		<%= link_to 'Delete Comment', [answer.question, answer], :confirm => 'Are you sure?', :method => :delete %>
	  	<% end %>
	  </span>
	</div>
	<div id = 'description_answer' >
		<%= answer.description %>
	</div>
</div>
