<%= form_for([@question, @question.answers.build]) do |f| %>
  <div class="form-inputs">
    <%= f.label :description %>
    <%= f.text_area :description, :rows => 3, :class => 'textfield_width' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
